* {
    margin: 0;
    padding: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1D1D23;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: fit-content;
}

form {
    width: 30%;
    height: 50px;
    background-color: #34344A;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}

input {
    border: none;
    width: 50px;
    height: 30px;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: #FFF;
    font-size: 24px;
}

.btn {
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #F0F757;
}

#timersContainer{
    width: 800px;
    height: 500px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    overflow-y: scroll;
    white-space: nowrap;
    padding: 10px;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
  }

::-webkit-scrollbar-thumb{
    background: #34344A;
}

#errors{
    background-color: rgba(255, 0, 0, 0.207);
    height: 30px;
    width: 20%;
    margin-inline: auto;
    margin-top: 20px;
    border-radius: 50px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    display: none;
    overflow: hidden;
}

.current_timers{
    text-align: center;
    width: 20%;
    margin-inline: auto;
    background-color: #39393E;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.StartedTimer{
    width: 70%;
    height: 50px;
    background-color: #34344A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    color: #FFF;
    flex-shrink: 0;
}

.timesUp{
    background-color:#F0F757;
    color: #34344A;
    font-size: 30px;
}

@media only screen and (max-width:600px) {
    main{
        width: 100vw;
        height: 100vh;
    }
    #timersContainer{
        width: 300px;
        margin-inline: auto;
        padding: 5px;
    }

    .StartedTimer{
        width: 100%;
    }

    .current_timers{
        width: 50%;
    }
    form{
        width: 80%;
    }
}